
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: var(--va-bg);
  color: var(--va-text);

  font-family:
    Inter,
    "Segoe UI",
    sans-serif;

  overflow-x: hidden;
}

app-root {
  display: block;
  width: 100%;
  min-height: 100vh;
}


/* =========================================================
   VALUAI DESIGN TOKENS
========================================================= */

:root {
  --va-bg: #07101f;
  --va-sidebar: #081322;
  --va-card: #0d1a2d;
  --va-card-inner: #091525;

  --va-border: rgba(125, 150, 195, 0.12);

  --va-primary: #617cff;
  --va-primary-dark: #7359ed;

  --va-text: #e6edf8;
  --va-text-secondary: #8b9ab2;
  --va-text-muted: #5f718b;

  --va-success: #3fd09d;
}